h1 {
    font-size: 5vw;
    text-align: center; 
    color: #41aaa8; 
}
canvas {
    margin-left: 5vw;
}
.button {
    text-align: center;
    padding: 10px 10px;
    background-color: #41aaa8;
    color: white;
    border-radius: 4px;
    border: 2px solid #41aaa8;
    font-family: 'Roboto Mono', monospace;
    cursor: pointer;
}
.button:hover {
    background-color: #41aaa8;
    color: black;
    font-family: 'Roboto Mono', monospace;
}
.sidenav {
    position: fixed;
    z-index: 1; 
    right: 3%;
    top:200px;
    overflow-x: hidden; 
    background-color: #51dacf;
    padding: 20px;
    font-size: 3vw;
    text-align: left;
}
input[type=number] {
    border-radius: 4px;
    box-shadow: none;
    width: 90px;
    border: none;
    padding: 10px 10px;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}
html {
    font-family: 'Roboto Mono', monospace;
    background: #d2fafb;
}
canvas {
    background: white;
    top: 200px;
}