div.container {
    height: 100%;
    background: -webkit-linear-gradient(top, #088fad 20%, #00d5ff 100%);
}
h1 {
    font-size: 5vw;
    text-align: center;
    padding: 3vw;
    position: relative;
}
div.op {
    width: 30%;
    background-color: rgb(5, 199, 199);
    display: inline-block;
    margin-right: 17vw;
    font-size: 3vw;
    text-align: left;
    padding: 5vw 0vw 5vw 0vw;
    min-width:40vw;
    float:right;
}
canvas {
    border-style: double;
    margin-left: 5vw;
}
.button {
    margin-left: 1vw;
}
.numberbox {
    margin-left: 1vw;
}